apiVersion: apps/v1
kind: Deployment
metadata: 
  name: hello-devops
  namespace: hello-devops
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: hello-devops
  template:
    metadata:
      labels:
        app: hello-devops
    spec:
      containers:
        - name: app
          image: ghcr.io/ncastellanosort/devops_ci_cd:76226f68b5e080cbc43995426d9216fe64175dd9
          ports:
            - containerPort: 5000

          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10

